.header{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100.5%;
    height:175px;
    padding:58px 30px 0;
}

.header-content{
    display:flex;
    justify-content: space-between;
}

.header.light{
    background-image:url("./assets/bg-mobile-light.jpg");
}

.header.dark{
    background-image:url('./assets/bg-mobile-dark.jpg');
}



.header-text{
    font-size:2rem;
    color:var(--ligththeme-very-light-gray);
}

.header-icon{
    width:23px;
    height:23px;
    cursor:pointer;
}

@media (min-width:768px) {
    .header{
        height:200px
    }

    .header-content{
        width:58%;
        margin:0 auto;
    }
    
    .header.light{
        background-image: url('./assets/bg-desktop-light.jpg');
    }

    .header.dark{
        background-image: url('./assets/bg-desktop-dark.jpg');
    }
   
}

@media(min-width:1024px){
    .header{
        height:245px;
    }
    
    .header-content{
        width:39%;
        padding:0;
    }

    .header-text{
        font-size:2.5rem;
    }

    .header-icon{
        width:25px;
        height:25px;
    }
}
