.todoInput-wrapper {
    display: flex;
    justify-content: center;
    margin-top: -92px;
  }

.todoInput-container{
    flex-basis:87%;
}

.todo-input{
    width:100%;
    height:48px;
    border:none; 
    border-radius:5px;   
    font-size:0.73rem;
    padding-left:52px;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

.todo-input.light{
    color:var(--lighttheme-very-dark-grayish-blue);
    background-color:white;
}

.todo-input.dark{
    color: var(--darktheme-light-grayish-blue);
    background-color: var(--darktheme-very-dark-desaturated-blue);
}

.todo-input:focus{
    border:none;
}


.check-icon-input{
    display:block;
    width:18px;
    height:18px;
    border-radius:100%;
    text-align: center;
    line-height:21px;
    color:white;
    background-color:transparent;
    border:1.5px solid var(--lighttheme-light-grayish-blue);
    position:relative;
    top:-35px;
    left:20px;
}

.check-icon{
    display:block;
    width:18px;
    height:18px;
    border-radius:100%;
    text-align: center;
    line-height:21px;
    color:white;
    position:absolute;
    top:16px;
    left:20px;
    background-color:transparent;
    border:1.5px solid var(--lighttheme-light-grayish-blue);
}

.todo-item.completed .check-icon{
    background:var(--check-background);
    width:20px;
    height:20px;
    border:none;
}

.check-icon img, .check-icon-input img{
    display:none;
}

.todo-item.completed .check-icon img{
    display:inline-block;
    width:10px;
    margin-top:6px;
}


@media(min-width:768px){
    .todoInput-wrapper{
        margin-top:-110px;
    }

    .todoInput-container{
        flex-basis:55%;
    }
}

@media(min-width:1440px){
    .todoInput-container{
        flex-basis:37.6%;
        margin-left:5px;
        margin-top:-30px;
    }

    .todo-input{
        height:65px;
        font-size:1.1rem;
        padding-left:72px;
    }

    .check-icon-input{
        width:22px;
        height:22px;
        top:-45px;
        left:24px;
    }

    .check-icon{
        width:22px;
        height:22px;
        left:24px;
    }

    .todo-item.completed .check-icon{
        width:24px;
        height:24px;
    }

    .todo-item.completed .check-icon img{
        width:11px;
        margin-top:8px;
    }
    
}
