.todos{
    padding-bottom:70px;
}

.todo-list{
    width:100.5%;
    position:relative;
    top:-31px;
    border-radius:5px;
    margin-left:30px;
    
}

.todo-list.light{
    background-color:white;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.todo-list.dark{
    background-color:var(--darktheme-very-dark-desaturated-blue);
}

.filter-list{
    width:100%;
    height:55px;
    border-radius:5px;
    margin-left:30px;
    margin-top:-14px;
    display:flex;
    gap:23px;
    align-items: center;
    justify-content: center;
    position:absolute;
    z-index:1;
}

.filter-list.light{
    background-color:white;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

}

.filter-list.dark{
    background-color:var(--darktheme-very-dark-desaturated-blue);
}

.filter-item{
    font-size:1rem;
    font-weight:700;
    cursor:pointer;
}

.filter-item.light{
    color:var(--lighttheme-dark-grayish-blue);
}

.filter-item.dark{
    color:var( --darktheme-light-grayish-blue);
}

.filter-item:hover{
    color:var(--lighttheme-very-dark-grayish-blue);
}

.filter-item:active{
    color:var(--bright-blue);
}

.todo-item{
    height:60px;
    border:none;
    padding-left:60px;
    line-height: 60px;
    font-size:0.9rem;
    position:relative;
    cursor:pointer;
}

.todo-item.light{
    color:var(--lighttheme-very-dark-grayish-blue);
    border-bottom:1px solid var(--lighttheme-light-grayish-blue);
}

.todo-item.dark{
    color:var(--darktheme-light-grayish-blue);
    border-bottom:1px solid hsl(234, 39%, 85%,0.5);;
}

.todo-item.completed{
    text-decoration: line-through;
    color:gray;
}

.todo-item:last-child{
    display:flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right:25px;
    color:var(--lighttheme-dark-grayish-blue);
    font-weight:400;
    cursor:default;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom:none;
}

.clear-btn{
    font-family: "Josefin Sans", sans-serif;
    border:none;
    background: none;
    font-weight:400;
    cursor:pointer;
    color:var(--lighttheme-dark-grayish-blue);
}

.clear-btn:hover{
    color:var(--lighttheme-very-dark-grayish-blue);
}

.delete-icon{
    display:none;
    position:absolute;
    top:22px;
    right:25px;
    width:15px;
    cursor:pointer;
}

.todo-item.completed .delete-icon{
    display:block;
}

.drag-text{
    text-align: center;
    margin-left:57px;
    margin-top:95px;
    font-size:0.98rem;
    color:var(--lighttheme-dark-grayish-blue);
}