.todoInput-wrapper {
    display: flex;
    justify-content: center;
    margin-top: -105px; /* Ajusta según diseño */
    width: 100%;
  }
  
.todoInput-container {
    width: 85%;
}

.check-icon-input{
    display:block;
    width:20px;
    height:20px;
    border-radius:100%;
    text-align: center;
    line-height:21px;
    color:white;
    background-color:transparent;
    border:1.5px solid var(--lighttheme-light-grayish-blue);
    position:relative;
    top:-40px;
    left:24px;
}

.check-icon{
    display:block;
    width:20px;
    height:20px;
    border-radius:100%;
    text-align: center;
    line-height:21px;
    color:white;
    position:absolute;
    top:16px;
    left:24px;
    background-color:transparent;
    border:1.5px solid var(--lighttheme-light-grayish-blue);
}

.todo-item.completed .check-icon{
    background:var(--check-background);
    width:22px;
    height:22px;
    border:none;
}

.check-icon img{
    display:none;
}

.todo-item.completed .check-icon img{
    display:inline-block;
    width:12px;
    margin-top:6px;

}

.todo-input{
    width:100%;
    height:55px;
    border:none; 
    border-radius:5px;   
    font-size:0.85rem;
    padding-left:60px;
    font-family: "Josefin Sans", sans-serif;
}

.todo-input.light{
    color:var(--lighttheme-very-dark-grayish-blue);
    background-color:white;
}

.todo-input.dark{
    color: var(--darktheme-light-grayish-blue);
    background-color: var(--darktheme-very-dark-desaturated-blue);
}

.todo-input:focus{
    border:none;
}